<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width-device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="data:,">
    <link href="https://sp-bootstrap.global.ssl.fastly.net/8.0.0/sp-bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}"> 
     
    <title> What kind of playlist are you looking for? </title>
    
</head>

<body>
    <div class="container intro">
        <h3 class="hl"> One day, I was hanging out with my friend Antoine, and I started  
            playing some music from my phone.
        </h3>

        <p class="p1-padding">
            My Spotify library consists mostly of R&B, pop and (just the right amount of) 
            Ariana Grande. Antoine’s music taste, on the other hand, is a bit more eclectic; 
            he listens to a lot of indie, Jean Leloup and French rap. Knowing this, I had
            a bit of trouble queuing songs I knew we would 
            <span style="font-style: italic;"> both </span> 
            like. 
        </p>

        <p class="p1-padding-highlight">
            I started to wonder – is there a way to take the guessing out of this? 
            What if I could make a playlist that, with
            <span style="font-style: italic;"> higher certainty</span>, 
            catered to both of our music tastes?      
        </p>

        <p class="p1-padding">
            I decided to explore these questions with a bit of machine learning, web
            dev, the Spotify API and 
            <span style="font-style: italic;"> voilà </span>
            – my first web app! This demo generates playlists of Spotify songs that 
            Antoine would have a high probability of liking, using an ML model trained on his 
            music taste. With the option of selecting a playlist mood and several genres, the app 
            returns up to ten songs. 
        </p>

        <p class="p1-padding">
            Try it out and let me know what you think! I'd love to hear your
            thoughts. &#128522; <br>

            <span style="padding-left:75%">- Janna</span>
        </p>
    </div>

    <div class="btn-right">
        <p align="right"><a href=verify ><button class="btn btn-salmon btn-lg">Try out the app</button></a></p>
    </div>
</body>

</html>