<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width-device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <!-- <link rel="stylesheet" href="../static/style.css"> -->

    <link href="https://sp-bootstrap.global.ssl.fastly.net/8.0.0/sp-bootstrap.min.css" rel="stylesheet" />

    
    <title> Page 2 </title>

</head>


<body>
    <div class="container" style="padding-top: 30px">

        <p>
            Using the Spotify API and several python libraries, I created a machine learning model that attempted to “learn” 
            the music taste of my friend, Antoine. You give this model any song, and it returns the probability that Antoine 
            will like the song. A pretty accurate model, but could be improved. 

            Next, I fed this model all of the songs that I like in my Spotify library. For each song it spat out a probability 
            that Antoine would like it. 
        </p>

        <p>
            To tie it all together, I then built this app (my first one!) that generates playlists of songs from my library that 
            Antoine would have a high probability of liking. You can select a mood and several genres to include in the playlist, 
            and it will return up to ten songs. 

            This is just a short demo, with a one-to-one recommendation of my own music to a friend. But if there was a way to 
            accurately learn individuals’ music tastes on a large scale, this idea could be developed into a fun, new tool for 
            peer-to-peer music recommendation. 
        </p>

        <p>
            Try out the app and let me know what you think! I’d love to hear your thoughts. 
        </p>

        <p align="right"><a href=verify ><button class="btn btn-salmon btn-lg">Try out the app!</button></a></p>

    </div>


</body>

</html>
